body {
	font-family: @font1;
	font-weight: 400;
	min-width: 320px;
	overflow-y: scroll;
}

#main { 
	padding-bottom: 108px; 
	text-align: center; 
}

.wrap { 
	margin: 0 auto; 
	max-width: 800px; 
	padding: 0 10px
}